body {
    background-color: #ffa500;
}

#title {
    color: #fff;
}

div {
    margin-top: 40px;
}

hr {
    width: 100%;
    height: 1px;
    background-color: rgb(226, 226, 226);
}

img {
    width: 405px;
}


a {
    display: block;
}